@model Room

<div id="div-main">
    <h1>Управление комнатой @Model.Name</h1>
    <hr />
    <form>
        <h3>Сменить название комнаты</h3><br />
        <input type="text" name="new-room-name" placeholder="Новое название комнаты" />
        <input class="btn btn-outline-success" type="button" name="new-room-name-btn" value="Сменить"/>
        <p id="change-room-name-summary"></p>
    </form>
    <hr />
    <div id="room-privacy-settings">
        <div id="private-div">        
        <form>
            <input class="btn btn-outline-success" name="unprivate-btn" type="button" value="Сделать комнату открытой" />
        </form><br />

        <form>
            <h3>Сменить пароль от комнаты</h3><br />
            <input type="password" name="new-room-password" placeholder="Новый пароль от комнаты" />
            <input class="btn btn-outline-success" type="button" name="new-room-password-btn" value="Сменить"/>
            <p id="change-room-password-summary"></p>
        </form>
        </div>
        <div id="unprivate-div">
            <form>
                <input type="password" name="room-password" placeholder="Пароль от комнаты" />
                <input class="btn btn-outline-danger" name="private-btn" type="button" value="Сделать комнату закрытой" />
            </form>
        </div>
    </div>
    <script>
        @if (Model.IsPrivate)
        {
            @:$('#unprivate-div').fadeOut();
        }
        else
        {
            @:$('#private-div').fadeOut();
        }
    </script>
    <hr />
    <div>
        <button id="delete-room" class="btn btn-outline-danger">Удалить комнату</button>
        <div id="delete-room-confirm">
        <form asp-antiforgery="true" method="post" action="/Manage/DeleteRoom">
            <h1>Вы уверены, что хотите удалить эту комнату навсегда без возможности восстановления?</h1>
            <input type="submit" class="btn btn-outline-danger" value="Уверен"/>
            <input type="hidden" name="roomId" value="@Model.RoomId" />
        </form>
            </div>
    </div>
    <div id="users-in-room">
    <h2>Пользователи в комнате</h2>
    <hr />
    @foreach (var v in Model.RoomUsers)
    {   
        <form name="@v.UserName">
        <h3 >Пользователь @v.UserName</h3>
        <input type="button" name="Kick" class="btn btn-outline-danger" value="Кикнуть из комнаты" /><br>
        <label style="display:inline-block;" for="days">Забанить на</label>
        <input style="display:inline-block;"type="number" min="1" max="365" name="days" value="1"/>
        <label for="days">дней</label>
        <input type="text" name="reason" placeholder="Причина" /><br>
        <input type="button" name="Ban" class="btn btn-outline-danger" value="Забанить" /><br>
        @if (!v.IsAdmin)
        {
            <input type="button" style="display:inline-block;" name="Op" class="btn btn-outline-success" value="Выдать права администратора" />
        }
        else
        {
            <input type="button" style="display:inline-block;" name="Deop" class="btn btn-outline-danger" value="Забрать права администратора" />
        }
        <br>
        <p id="summary-@v.UserName"></p>
        </form>
        <hr />
    }
    </div>
    <div id="banned-users">
    <h2>Забаненные пользователи</h2>
    @foreach (var v in Model.BannedUsers)
    {
        <form name="@v.UserName">
            <h3 style="display:inline-block;">Пользователь @v.UserName</h3><br>
            <input type="button" name="Unban" class="btn btn-outline-success" value="Разбанить" />
        </form>
        <hr />
    }
    </div>
</div>

<script src="~/js/manageroom-script.js" asp-append-version="true"></script>