@model RoomViewModel

<h1>@(Model.Message==null ? "Приватные комнаты" : Model.Message)</h1>
@if(Model.Type=="create"){
    @using (Html.BeginForm("Create", "Room", FormMethod.Post))
    {
        @Html.LabelFor(m=>m.RoomName, "Название комнаты:")
        @Html.TextBoxFor(m=>m.RoomName)
        <input class="btn btn-outline-success" type="submit" value="Создать комнату" />
    } 
}
else
{
    @if (Model.Rooms.Count > 0)
    {

            @foreach (var v in Model.Rooms)
            {
                @using (Html.BeginForm("Connect", "Room", FormMethod.Post))
                {
                    <p>Комната @v.Name</p><br />
                    <p>Участников: @v.Users.Count</p><br />
                    <input class="btn btn-outline-success" type="submit" value="Подключиться к комнате" />
                    <hr />
                    @Html.Hidden("RoomName", v.Name)
                }

            }

    }
    else
    {
        <h2>
            На данный момент ещё ни одна комната не создана :( 
                Вы можете <a style="color:lawngreen; text-decoration:underline;"href="/Room/RoomIndex?type=create">создать свою</a>
        </h2>
    }
}